$main-font-stack: "Montserrat",
"Arial",
sans-serif;

$primaty-white-color: #ffffff;
$secondary-white-color: #f38181;
$primaty-dark-color: #333333;
$secondary-dark-color: #999999;
$accent-color: rgb(252, 227, 138);
$secondary-accent-color: #95e1d3;
$border-button: rgb(231, 231, 231);

$main-text-size: 15px;
$main-text-height: 24px;
